In [1]:
import pandas as pd
import numpy as np
import os

os.getcwd()

'C:\\Users\\cprovost\\Downloads\\make2learn\\codelouisville'

In [2]:
# local file:
#database1 = pd.read_csv('C:\\Users\\Oppa\\Desktop\\Projects\\make2learn\\codelouisville\\60335temp.csv')
file = 'clause 19_2 220V sides'#input("NOTE: The file must be .csv format and located in the same directory as this program.\nEnter the name of the file: ")
file = file+".csv"
database1 = pd.read_csv(file)[23:] # ignores invalid rows


# network file
#database1 = pd.read_csv('https://raw.githubusercontent.com/CalebProvost/make2learn/master/codelouisville/60335temp.csv')

# reset the name of the columns
headers = database1.iloc[0]
header = []
for index in range(len(headers)):
    header.append(headers[index])
database1.columns = header

# remove row with column headers and reset index
database1 = database1[1:]
database1 = database1.reset_index(drop=True)

database1

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0,2352.387888,2237.494435,4589.882323,23.881794,23.64785,0,98.501304,94.617246,204.891872,...,71.389015,137.279618,-100918.0534,-100918.0534,-100918.0534,-100918.0534,-100918.0534,-100918.0534,-100918.0534,NaN
1,0,2335.626995,2222.02914,4557.656135,23.684214,23.455515,0,98.615348,94.733762,204.953412,...,72.432455,141.739857,-100924.2314,-100924.2314,-100924.2314,-100924.2314,-100924.2314,-100924.2314,-100924.2314,NaN
2,0,2336.353565,2220.07403,4556.427594,23.675395,23.445909,0,98.682768,94.689184,204.971481,...,72.933801,148.115015,-100931.6142,-100931.6142,-100931.6142,-100931.6142,-100931.6142,-100931.6142,-100931.6142,NaN
3,0,2336.350642,2219.902458,4556.253101,23.674896,23.449016,0,98.684729,94.669324,204.968328,...,72.89529,147.979406,-100926.1578,-100926.1578,-100926.1578,-100926.1578,-100926.1578,-100926.1578,-100926.1578,NaN
4,0,2336.480817,2220.115444,4556.596261,23.67601,23.448204,0,98.685581,94.681683,204.993046,...,73.096314,148.446238,-100968.2458,-100968.2458,-100968.2458,-100968.2458,-100968.2458,-100968.2458,-100968.2458,NaN
5,0,2664.509338,2544.180713,5208.690051,27.043688,26.972722,0.00271,98.526107,94.324209,204.436122,...,73.203092,148.539979,-100963.7034,-100963.7034,-100963.7034,-100963.7034,-100963.7034,-100963.7034,-100963.7034,NaN
6,0,2548.211735,2418.618895,4966.83063,25.848445,25.591806,0.000628,98.582788,94.507549,204.715522,...,73.135956,148.49758,-100955.7623,-100955.7623,-100955.7623,-100955.7623,-100955.7623,-100955.7623,-100955.7623,NaN
7,0,2524.63088,2396.622312,4921.253192,25.605018,25.354026,0,98.599068,94.526301,204.742285,...,73.082127,148.392829,-100921.404,-100921.404,-100921.404,-100921.404,-100921.404,-100921.404,-100921.404,NaN
8,0,2515.779337,2387.673541,4903.452879,25.511694,25.259334,0,98.612791,94.526386,204.760611,...,73.234784,148.649839,-100930.21,-100930.21,-100930.21,-100930.21,-100930.21,-100930.21,-100930.21,NaN
9,0,2509.012084,2381.668472,4890.680556,25.445621,25.194965,0,98.602903,94.52954,204.750042,...,73.355055,148.970585,-100951.0235,-100951.0235,-100951.0235,-100951.0235,-100951.0235,-100951.0235,-100951.0235,NaN
10,0,2499.971953,2374.666556,4874.638509,25.356854,25.108329,0,98.591567,94.576845,204.749275,...,73.335582,149.010105,-100946.2704,-100946.2704,-100946.2704,-100946.2704,-100946.2704,-100946.2704,-100946.2704,NaN
11,0,2499.891772,2375.226544,4875.118316,25.359263,25.108706,0,98.579038,94.597727,204.70393,...,73.414455,149.044661,-100938.8787,-100938.8787,-100938.8787,-100938.8787,-100938.8787,-100938.8787,-100938.8787,NaN
12,0,2489.210982,2364.838617,4854.049599,25.252597,24.995697,0,98.572475,94.609831,204.714755,...,73.259283,149.233536,-100941.7386,-100941.7386,-100941.7386,-100941.7386,-100941.7386,-100941.7386,-100941.7386,NaN
13,0,2481.479416,2358.652972,4840.132387,25.174075,24.92587,0,98.572816,94.626707,204.716459,...,73.170293,149.34638,-100920.9882,-100920.9882,-100920.9882,-100920.9882,-100920.9882,-100920.9882,-100920.9882,NaN
14,0,2480.465624,2357.111922,4837.577546,25.160962,24.91515,0,98.583896,94.605569,204.727114,...,73.325709,149.39391,-100922.3922,-100922.3922,-100922.3922,-100922.3922,-100922.3922,-100922.3922,-100922.3922,NaN
15,0,2479.916283,2355.158002,4835.074285,25.149127,24.902529,0,98.608444,94.575055,204.762145,...,73.312387,149.447818,-100921.4057,-100921.4057,-100921.4057,-100921.4057,-100921.4057,-100921.4057,-100921.4057,NaN
16,0,2479.368511,2353.846516,4833.215026,25.138661,24.892161,0.000235,98.627707,94.561758,204.79104,...,73.235682,149.65025,-100938.3048,-100938.3048,-100938.3048,-100938.3048,-100938.3048,-100938.3048,-100938.3048,NaN
17,0,2478.29451,2353.391492,4831.686003,25.129466,24.883334,0,98.621058,94.577015,204.788056,...,73.566981,149.991442,-100990.9801,-100990.9801,-100990.9801,-100990.9801,-100990.9801,-100990.9801,-100990.9801,NaN
18,0,2475.704488,2354.003581,4829.708069,25.118074,24.873106,0,98.562673,94.640515,204.721232,...,73.470567,150.083284,-100928.2327,-100928.2327,-100928.2327,-100928.2327,-100928.2327,-100928.2327,-100928.2327,NaN
19,0,2474.145996,2354.62418,4828.770176,25.113468,24.867525,0,98.518692,94.686712,204.67691,...,73.395761,150.017537,-100918.6595,-100918.6595,-100918.6595,-100918.6595,-100918.6595,-100918.6595,-100918.6595,NaN
20,0,2482.302776,2365.411286,4847.714062,25.210898,24.964774,0,98.461499,94.749956,204.589545,...,73.615419,150.377191,-100966.1373,-100966.1373,-100966.1373,-100966.1373,-100966.1373,-100966.1373,-100966.1373,NaN
21,0,2481.360209,2365.762619,4847.122828,25.206169,24.958693,0,98.442577,94.787119,204.570623,...,73.725897,150.392161,-100956.1588,-100956.1588,-100956.1588,-100956.1588,-100956.1588,-100956.1588,-100956.1588,NaN
22,0,2506.792875,2389.625331,4896.418206,25.469503,25.216044,0,98.423314,94.766066,204.518971,...,73.771103,150.3361,-100943.7239,-100943.7239,-100943.7239,-100943.7239,-100943.7239,-100943.7239,-100943.7239,NaN
23,0,2504.796097,2387.992227,4892.788325,25.448973,25.198744,0,98.424252,94.766321,204.518715,...,73.482454,150.881255,-100956.4053,-100956.4053,-100956.4053,-100956.4053,-100956.4053,-100956.4053,-100956.4053,NaN
24,0,2494.520528,2376.98106,4871.501588,25.335225,25.087176,0,98.460562,94.748848,204.553831,...,73.962255,151.340732,-100945.8124,-100945.8124,-100945.8124,-100945.8124,-100945.8124,-100945.8124,-100945.8124,NaN
25,0,2489.468163,2372.491904,4861.960067,25.284372,25.036126,0,98.458772,94.762742,204.570282,...,73.765112,152.128954,-100930.3302,-100930.3302,-100930.3302,-100930.3302,-100930.3302,-100930.3302,-100930.3302,NaN
26,0,2488.15492,2372.255804,4860.410723,25.274315,25.029897,0.000251,98.445986,94.776891,204.556048,...,73.9011,153.342175,-100957.1373,-100957.1373,-100957.1373,-100957.1373,-100957.1373,-100957.1373,-100957.1373,NaN
27,0,2487.178884,2371.685452,4858.864337,25.267595,25.021201,0,98.433542,94.787033,204.550507,...,73.675115,153.912399,-100944.0447,-100944.0447,-100944.0447,-100944.0447,-100944.0447,-100944.0447,-100944.0447,NaN
28,0,2496.811868,2380.666113,4877.47798,25.365172,25.11877,0.000128,98.43465,94.776379,204.53866,...,73.98546,155.019137,-100954.5244,-100954.5244,-100954.5244,-100954.5244,-100954.5244,-100954.5244,-100954.5244,NaN
29,0,2496.234518,2379.429444,4875.663963,25.356936,25.10728,0,98.443856,94.770498,204.534142,...,74.069651,156.355237,-100955.3033,-100955.3033,-100955.3033,-100955.3033,-100955.3033,-100955.3033,-100955.3033,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,0,2448.076495,2369.733139,4817.809634,24.845134,25.082456,0.004529,98.533437,94.477717,204.596705,...,88.856008,214.356289,-101336.0301,-101336.0301,-101336.0301,-101336.0301,-101336.0301,-101336.0301,-101336.0301,NaN
2017,0,2354.931741,2238.047407,4592.979148,23.896743,23.667233,0.003742,98.546137,94.563122,204.668813,...,89.11226,215.069246,-101385.7667,-101385.7667,-101385.7667,-101385.7667,-101385.7667,-101385.7667,-101385.7667,NaN
2018,0,2353.634506,2239.763213,4593.397719,23.896497,23.665667,0.003996,98.492865,94.641879,204.576163,...,89.00955,215.139294,-101373.5957,-101373.5957,-101373.5957,-101373.5957,-101373.5957,-101373.5957,-101373.5957,NaN
2019,0,2351.234421,2241.9367,4593.171121,23.896407,23.667233,0.00398,98.3928,94.727454,204.470472,...,88.84159,215.249837,-101356.6039,-101356.6039,-101356.6039,-101356.6039,-101356.6039,-101356.6039,-101356.6039,NaN
2020,0,2367.750457,2252.70637,4620.456827,24.072294,23.772432,0.003701,98.359985,94.761293,204.417115,...,88.732965,215.444094,-101352.9402,-101352.9402,-101352.9402,-101352.9402,-101352.9402,-101352.9402,-101352.9402,NaN
2021,0,2471.45775,2350.371007,4821.828757,25.128466,24.841569,0.004759,98.35291,94.614433,204.351058,...,88.295777,215.522875,-101314.2088,-101314.2088,-101314.2088,-101314.2088,-101314.2088,-101314.2088,-101314.2088,NaN
2022,0,2417.622996,2278.856921,4696.479917,24.56018,24.082489,0.003767,98.436696,94.627133,204.548547,...,88.300822,215.887528,-101352.8371,-101352.8371,-101352.8371,-101352.8371,-101352.8371,-101352.8371,-101352.8371,NaN
2023,0,2355.329734,2238.950892,4594.280626,23.905062,23.67333,0.003865,98.528494,94.57693,204.639237,...,88.374182,216.268568,-101373.3375,-101373.3375,-101373.3375,-101373.3375,-101373.3375,-101373.3375,-101373.3375,NaN
2024,0,2355.40826,2237.723493,4593.131753,23.899243,23.66897,0.003046,98.555769,94.542495,204.688502,...,88.343153,216.5095,-101380.001,-101380.001,-101380.001,-101380.001,-101380.001,-101380.001,-101380.001,NaN
2025,0,2372.263364,2252.5781,4624.841464,24.07926,23.820507,0.005226,98.518947,94.564656,204.591505,...,88.215778,216.413941,-101348.5754,-101348.5754,-101348.5754,-101348.5754,-101348.5754,-101348.5754,-101348.5754,NaN
2026,0,2448.729171,2354.486084,4803.215255,24.8809,24.91424,0.004734,98.418029,94.503628,204.427855,...,88.138721,216.351554,-101366.9337,-101366.9337,-101366.9337,-101366.9337,-101366.9337,-101366.9337,-101366.9337,NaN
2027,0,2426.814652,2322.225581,4749.040233,24.667953,24.520481,0.004906,98.379248,94.705549,204.39896,...,87.950547,216.085035,-101368.42,-101368.42,-101368.42,-101368.42,-101368.42,-101368.42,-101368.42,NaN
2028,0,2348.878815,2241.021984,4589.900799,23.878238,23.647342,0.003882,98.36902,94.768452,204.465187,...,87.930371,215.318627,-101335.4052,-101335.4052,-101335.4052,-101335.4052,-101335.4052,-101335.4052,-101335.4052,NaN
2029,0,2352.216038,2242.88832,4595.104358,23.904603,23.675936,0.00348,98.40013,94.732824,204.472944,...,88.054981,214.686676,-101341.1037,-101341.1037,-101341.1037,-101341.1037,-101341.1037,-101341.1037,-101341.1037,NaN
2030,0,2355.650737,2241.795814,4597.446551,23.920363,23.689107,0.00389,98.478887,94.634037,204.56977,...,87.963533,214.143936,-101327.353,-101327.353,-101327.353,-101327.353,-101327.353,-101327.353,-101327.353,NaN
2031,0,2352.604063,2235.154769,4587.758832,23.875787,23.645424,0.003398,98.535142,94.528005,204.648271,...,88.027038,213.158842,-101365.9743,-101365.9743,-101365.9743,-101365.9743,-101365.9743,-101365.9743,-101365.9743,NaN
2032,0,2385.720341,2255.804597,4641.524938,24.221553,23.851725,0.00366,98.495763,94.576163,204.447885,...,88.092688,212.342542,-101389.4707,-101389.4707,-101389.4707,-101389.4707,-101389.4707,-101389.4707,-101389.4707,NaN
2033,0,2429.44737,2283.327314,4712.774683,24.689901,24.102659,0.003833,98.398425,94.733421,204.471921,...,87.942936,211.184118,-101347.1174,-101347.1174,-101347.1174,-101347.1174,-101347.1174,-101347.1174,-101347.1174,NaN
2034,0,2339.991848,2231.932211,4571.924059,23.784824,23.554731,0.002939,98.381719,94.755156,204.46621,...,88.052261,210.490795,-101378.4083,-101378.4083,-101378.4083,-101378.4083,-101378.4083,-101378.4083,-101378.4083,NaN
2035,0,2338.937374,2227.105023,4566.042396,23.754205,23.525563,0.002628,98.464141,94.667449,204.568321,...,87.899126,209.528724,-101337.8822,-101337.8822,-101337.8822,-101337.8822,-101337.8822,-101337.8822,-101337.8822,NaN
2036,0,2504.346386,2410.243717,4914.590103,25.435483,25.568793,0.005373,98.458772,94.265057,204.2827,...,87.743111,208.90128,-101355.9564,-101355.9564,-101355.9564,-101355.9564,-101355.9564,-101355.9564,-101355.9564,NaN
2037,0,2426.399645,2294.462971,4720.862615,24.62972,24.271087,0.0053,98.515112,94.534824,204.560991,...,87.868406,208.060242,-101368.5845,-101368.5845,-101368.5845,-101368.5845,-101368.5845,-101368.5845,-101368.5845,NaN
2038,0,2333.858817,2223.159471,4557.018289,23.706834,23.477987,0.003128,98.446668,94.69123,204.526812,...,87.908839,207.091922,-101334.7896,-101334.7896,-101334.7896,-101334.7896,-101334.7896,-101334.7896,-101334.7896,NaN
2039,0,2331.598096,2224.917349,4556.515445,23.702072,23.474217,0.003275,98.371065,94.781323,204.461096,...,87.855352,206.119489,-101334.2066,-101334.2066,-101334.2066,-101334.2066,-101334.2066,-101334.2066,-101334.2066,NaN
2040,0,2332.060824,2223.935277,4555.996101,23.701622,23.474242,0.003333,98.392459,94.739387,204.477973,...,87.84955,205.57222,-101334.8871,-101334.8871,-101334.8871,-101334.8871,-101334.8871,-101334.8871,-101334.8871,NaN
2041,0,2333.905994,2221.177326,4555.08332,23.69886,23.471865,0.003447,98.481785,94.63148,204.600796,...,88.018851,204.951425,-101338.9077,-101338.9077,-101338.9077,-101338.9077,-101338.9077,-101338.9077,-101338.9077,NaN
2042,0,2334.645882,2219.42462,4554.070502,23.696016,23.469578,0.002825,98.524828,94.56602,204.662079,...,87.936463,204.38573,-101362.369,-101362.369,-101362.369,-101362.369,-101362.369,-101362.369,-101362.369,NaN
2043,0,2335.324117,2219.477084,4554.801201,23.695335,23.466284,0.003751,98.55628,94.581533,204.668302,...,88.16394,203.697558,-101356.1889,-101356.1889,-101356.1889,-101356.1889,-101356.1889,-101356.1889,-101356.1889,NaN
2044,0,2383.299276,2254.948528,4638.247804,24.197622,23.827384,0.003554,98.493121,94.63685,204.559372,...,88.178525,203.342463,-101387.292,-101387.292,-101387.292,-101387.292,-101387.292,-101387.292,-101387.292,NaN
2045,0,2408.782234,2313.656661,4722.438895,24.487395,24.448572,0.004914,98.368252,94.633611,204.364952,...,87.970371,202.718643,-101345.8412,-101345.8412,-101345.8412,-101345.8412,-101345.8412,-101345.8412,-101345.8412,NaN

In [3]:
### To Do: ###
## slice out the cycles:
# - [*] Use the negative values in the ambient air column to determine the cycles
# - [*] Find the start and end points of the cycles
# - [*] With the start and end points found, slice out those values (dynamically) to make a cycle
# - [*] Print out the average value per column for each cycle
# - [*] Print out the max value per column for each cycle
# - [*] Create if statment to print indicator to which cycle is the peak cycle
# - [ ] Display "Testing Complete" when two cycles follow the peak without becoming the new peak 

print(database1.columns) # finding the correct column that has the ambient air label
select_ambient = 'room ambient'#input("Enter the name of the column for the room's ambient temperature: ")
database1[select_ambient] = database1[select_ambient].astype(float)
ambient = database1[select_ambient] # assign all values in ambient column to variable

ambient[ambient < 0]

Index(['X_Value', 'L1 Power', 'L2 Power', 'L1+L2 Power', 'L1-N Amps',
       'L2-N Amps', 'N Amps', 'L1-N Volts', 'L2-N Volts', 'L1-L2 Volts',
       'L3 N Amps', 'L3 Power', 'L3-N Volts', 'room ambient',
       'power cord strain relief', 'power cord at separation',
       'power cord ind conductor', 'power switch body top',
       'internal wiring by tank', 'terminal block body', 'hi limit body',
       'circuit breaker body 40a', 'circuit break body 4a',
       'inlet valve windings', 'T12', 'element end seal',
       'ambient near 24vdc power supply', 'body of bypass valve windings',
       'body of brew valve windings', 'lock solenoid windings',
       'ambient near electronic control', 'spin motor', 'solid state relay',
       'ptc lead', 'ptc hi limit', 'brew basket handle plastic',
       'brew basket handle metal', 'hot lead at heating element', '1_12',
       '1_13', '1_14', '1_15', '1_16', '1_17', 'Temperature', 'Comment'],
      dtype='object')

2      -100934.05490
99     -100917.24570
260    -101051.40840
367    -101135.52150
494    -101148.65590
626    -101251.26740
627    -101213.12270
736    -101252.13850
737    -101254.63500
838    -101290.66230
984    -101282.66810
1132   -101313.32910
1255   -101336.81770
1378    -37886.15735
1379   -101292.41630
1518   -101341.10880
1647   -101330.32680
1648   -101337.83940
1787   -101287.51650
1788   -101339.63200
1897   -101301.03340
1898   -101299.42880
2023   -101298.27860
Name: room ambient, dtype: float64

In [4]:
cycle_start = ambient[ambient < 0].index+1
cycle_start_sliced = cycle_start[:-1]
print("Index Start Points for Cycles:\n",cycle_start_sliced,"\n")

cycle_end = ambient[ambient < 0].index
cycle_end_sliced = cycle_end[1:]
print("Index End Points for Cycles:\n",cycle_end_sliced,"\n")

print("Number of cycles found:",len(cycle_start_sliced),"\n")

# verify that start points and end points can be refrenced correctly in a loop
print("Cycle Start Index\tCycle End Index")
for index in range(len(cycle_start_sliced)):
    print("\t",cycle_start_sliced[index],"\t\t\t",cycle_end_sliced[index])
print()

# Remove double negative indicators (false cycles)
for count in range(len(cycle_start_sliced)):
    if len(cycle_start_sliced) > count:
        if cycle_start_sliced[count] == cycle_end_sliced[count]:
            cycle_start_sliced = cycle_start_sliced.drop(cycle_start_sliced[count])
            cycle_end_sliced = cycle_end_sliced.drop(cycle_end_sliced[count])
        
print("Cycle Start Index\tCycle End Index")
for index in range(len(cycle_start_sliced)):
    print("\t",cycle_start_sliced[index],"\t\t\t",cycle_end_sliced[index])

print("Number of cycles found:",len(cycle_start_sliced),"\n")

Index Start Points for Cycles:
 Int64Index([   3,  100,  261,  368,  495,  627,  628,  737,  738,  839,  985,
            1133, 1256, 1379, 1380, 1519, 1648, 1649, 1788, 1789, 1898, 1899],
           dtype='int64')

Index End Points for Cycles:
 Int64Index([  99,  260,  367,  494,  626,  627,  736,  737,  838,  984, 1132,
            1255, 1378, 1379, 1518, 1647, 1648, 1787, 1788, 1897, 1898, 2023],
           dtype='int64')

Number of cycles found: 22

Cycle Start Index	Cycle End Index
	 3 			 99
	 100 			 260
	 261 			 367
	 368 			 494
	 495 			 626
	 627 			 627
	 628 			 736
	 737 			 737
	 738 			 838
	 839 			 984
	 985 			 1132
	 1133 			 1255
	 1256 			 1378
	 1379 			 1379
	 1380 			 1518
	 1519 			 1647
	 1648 			 1648
	 1649 			 1787
	 1788 			 1788
	 1789 			 1897
	 1898 			 1898
	 1899 			 2023

Cycle Start Index	Cycle End Index
	 3 			 99
	 100 			 260
	 261 			 367
	 368 			 494
	 495 			 626
	 628 			 736
	 738 			 838
	 839 			 984
	 985 			 1132
	 1133 			 1255
	 1256 			 1378
	 1380 			 1518
	 1519 			 1647
	 1649 			 1787
	 1789 			 1897
	 1899 			 2023
Number of cycles found: 16

In [5]:
# practice assigning first cycle
# print(database1.iloc[cycle_start_sliced[0] : cycle_end_sliced[0]])

# for count in range(len(cycle_end_sliced)):
#     top_bottom_border = "-" * 100
#     print(top_bottom_border,"\nCycle #",count+1,"\n", top_bottom_border)
#     print(database1.iloc[cycle_start_sliced[count]:cycle_end_sliced[count]])

cycle_dict = {}
for num in range(len(cycle_end_sliced)):
    key_name = "cycle_num_"+str(num+1)
    cycle_dict[key_name] = database1.iloc[cycle_start_sliced[num]:cycle_end_sliced[num]]

# Print the results of the cycles 
# for count in range(len(cycle_dict.keys())):
#     top_bottom_border = "-" * 100
#     print(border,"\nCycle #",count+1,"\n", border)
#     print(cycle_dict['cycle_num_'+str(count+1)])

mean_dict = {}
# Assign max values
for num in range(len(cycle_start_sliced)):
    key_mean_name = "cycle_mean_"+str(num+1)
    key_num_name = "cycle_num_"+str(num+1)
    mean_dict[key_mean_name] = cycle_dict[key_num_name].astype(float).mean().to_frame().transpose()

max_dict = {}
# Assign max values
for num in range(len(cycle_end_sliced)):
    key_max_name = "cycle_max_"+str(num+1)
    key_num_name = "cycle_num_"+str(num+1)
    max_dict[key_max_name] = cycle_dict[key_num_name].astype(float).max().to_frame().transpose()

In [6]:
# Display mean of cycles
border = "-"*120
for count in range(len(mean_dict)):
    name = "cycle_mean_"+str(count+1)
    print(border,"\nAverages of Cycle #",count+1,"\n",border)
    display(mean_dict[name])

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 1
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2476.584985,2356.511293,4833.096278,25.130724,24.886874,0.000075,98.548518,94.689297,204.674305,...,76.722743,166.592071,-100958.284274,-100958.284274,-100958.284274,-100958.284274,-100958.284274,-100958.284274,-100958.284274,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 2
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2390.896938,2275.647106,4666.544044,24.242708,24.007718,0.000338,98.632215,94.810467,204.764455,...,86.296175,190.39732,-101036.724869,-101036.724869,-101036.724869,-101036.724869,-101036.724869,-101036.724869,-101036.724869,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 3
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2374.684052,2260.392621,4635.076673,24.076762,23.842928,0.001108,98.637933,94.820253,204.710209,...,86.937533,194.441646,-101135.720751,-101135.720751,-101135.720751,-101135.720751,-101135.720751,-101135.720751,-101135.720751,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 4
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2399.689321,2285.851468,4685.54079,24.328648,24.123421,0.001901,98.637082,94.757541,204.684763,...,90.037899,199.70708,-101193.488672,-101193.488672,-101193.488672,-101193.488672,-101193.488672,-101193.488672,-101193.488672,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 5
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2350.753246,2240.552637,4591.305882,23.842354,23.641437,0.00257,98.607468,94.797992,204.668944,...,88.806273,202.083101,-101257.020286,-101257.020286,-101257.020286,-101257.020286,-101257.020286,-101257.020286,-101257.020286,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 6
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2360.140556,2245.057967,4605.198523,23.937685,23.698891,0.002733,98.600969,94.739993,204.633619,...,88.899716,204.078304,-101287.436015,-101287.436015,-101287.436015,-101287.436015,-101287.436015,-101287.436015,-101287.436015,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 7
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2395.884068,2277.916034,4673.800102,24.308902,24.049916,0.003457,98.560694,94.717403,204.589979,...,88.472433,204.381899,-101326.257313,-101326.257313,-101326.257313,-101326.257313,-101326.257313,-101326.257313,-101326.257313,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 8
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2386.098647,2269.304826,4655.403473,24.213599,23.960008,0.003361,98.545738,94.721413,204.593191,...,88.197832,199.009213,-101350.655443,-101350.655443,-101350.655443,-101350.655443,-101350.655443,-101350.655443,-101350.655443,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 9
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2352.322432,2238.385086,4590.707518,23.872835,23.638566,0.003684,98.545299,94.723701,204.629237,...,87.506694,203.300315,-101372.044248,-101372.044248,-101372.044248,-101372.044248,-101372.044248,-101372.044248,-101372.044248,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 10
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2380.241548,2265.731117,4645.972665,24.162219,23.924813,0.003866,98.511102,94.70267,204.575051,...,88.054219,204.30674,-101371.36626,-101371.36626,-101371.36626,-101371.36626,-101371.36626,-101371.36626,-101371.36626,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 11
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2379.76986,2263.957728,4643.727587,24.157625,23.915831,0.003959,98.510405,94.664293,204.582284,...,88.104041,202.147162,-101385.86122,-101385.86122,-101385.86122,-101385.86122,-101385.86122,-101385.86122,-101385.86122,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 12
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2381.001626,2269.42367,4650.425297,24.175244,23.971913,0.004155,98.48956,94.67096,204.550846,...,89.341508,200.15194,-101372.564212,-101372.564212,-101372.564212,-101372.564212,-101372.564212,-101372.564212,-101372.564212,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 13
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2349.370727,2241.307716,4590.678443,23.852556,23.684671,0.004059,98.499724,94.643211,204.588592,...,88.131266,196.536854,-101380.598695,-101380.598695,-101380.598695,-101380.598695,-101380.598695,-101380.598695,-101380.598695,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 14
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2372.535451,2256.235885,4628.771336,24.093006,23.839991,0.00404,98.478801,94.652794,204.55841,...,89.40251,201.152342,-101372.398977,-101372.398977,-101372.398977,-101372.398977,-101372.398977,-101372.398977,-101372.398977,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 15
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2393.501205,2276.497832,4669.999037,24.314393,24.052369,0.004225,98.43975,94.648891,204.488251,...,87.453729,205.202507,-101368.540652,-101368.540652,-101368.540652,-101368.540652,-101368.540652,-101368.540652,-101368.540652,NaN

------------------------------------------------------------------------------------------------------------------------
Averages of Cycle # 16
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2380.925028,2266.449379,4647.374407,24.185305,23.946094,0.003907,98.445267,94.648876,204.519744,...,89.262474,201.230264,-101350.801193,-101350.801193,-101350.801193,-101350.801193,-101350.801193,-101350.801193,-101350.801193,NaN

In [7]:
# Display max of cycles
for count in range(len(max_dict)):
    name = "cycle_max_"+str(count+1)
    print(border,"\nMax Value of Cycle #",count+1,"\n",border)
    display(max_dict[name])

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 1
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2664.509338,2544.180713,5208.690051,27.043688,26.972722,0.00271,98.685581,94.817633,204.993046,...,82.041996,181.908029,-100911.0041,-100911.0041,-100911.0041,-100911.0041,-100911.0041,-100911.0041,-100911.0041,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 2
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2731.177484,2521.545347,5237.647928,27.730803,26.621752,0.00221,99.399677,96.693306,207.169001,...,88.58327,207.880285,-100962.5089,-100962.5089,-100962.5089,-100962.5089,-100962.5089,-100962.5089,-100962.5089,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 3
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2653.23702,2521.892392,5146.663521,26.913796,26.64016,0.003693,99.439822,96.473145,207.208209,...,89.027641,207.378867,-101071.4402,-101071.4402,-101071.4402,-101071.4402,-101071.4402,-101071.4402,-101071.4402,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 4
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2668.040095,2649.707721,5317.747816,27.108909,27.989236,0.005005,98.749592,95.341826,206.844768,...,90.961004,212.74332,-101114.9671,-101114.9671,-101114.9671,-101114.9671,-101114.9671,-101114.9671,-101114.9671,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 5
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2538.492297,2445.234893,4936.820726,25.790682,25.833873,0.004849,99.412718,96.522155,207.15417,...,90.896927,215.13718,-101180.1447,-101180.1447,-101180.1447,-101180.1447,-101180.1447,-101180.1447,-101180.1447,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 6
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2538.614997,2395.60467,4934.219667,25.76716,25.295977,0.004587,99.219065,95.494737,204.798199,...,89.64812,214.701528,-101237.1859,-101237.1859,-101237.1859,-101237.1859,-101237.1859,-101237.1859,-101237.1859,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 7
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2787.746266,2625.757279,5303.923338,28.320733,27.759963,0.007185,98.713794,94.883178,204.78925,...,89.578044,215.851051,-101274.8263,-101274.8263,-101274.8263,-101274.8263,-101274.8263,-101274.8263,-101274.8263,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 8
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2799.863431,2590.876013,5342.352624,28.407303,27.416738,0.006586,99.257676,96.548663,206.941936,...,89.157086,217.170037,-101292.6018,-101292.6018,-101292.6018,-101292.6018,-101292.6018,-101292.6018,-101292.6018,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 9
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2679.66525,2516.598884,5196.264135,27.178916,26.621826,0.006709,99.355525,96.561363,207.00535,...,89.064638,217.648791,-101319.7451,-101319.7451,-101319.7451,-101319.7451,-101319.7451,-101319.7451,-101319.7451,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 10
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2583.706162,2434.803443,4995.660461,26.209217,25.748614,0.006332,98.631287,94.833998,204.754474,...,89.549394,218.398915,-101322.9909,-101322.9909,-101322.9909,-101322.9909,-101322.9909,-101322.9909,-101322.9909,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 11
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2542.501085,2415.260308,4924.166602,25.833111,25.518341,0.006422,98.623956,94.831782,204.734529,...,89.929534,214.311773,-101315.7902,-101315.7902,-101315.7902,-101315.7902,-101315.7902,-101315.7902,-101315.7902,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 12
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2711.288122,2502.904768,5214.192891,27.556211,26.419435,0.00684,98.605972,94.831441,204.726602,...,90.737359,215.701412,-101309.0561,-101309.0561,-101309.0561,-101309.0561,-101309.0561,-101309.0561,-101309.0561,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 13
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2598.693882,2468.150905,5005.492835,26.414444,26.143783,0.006857,99.201421,96.250512,206.611566,...,89.298691,208.853078,-101330.2759,-101330.2759,-101330.2759,-101330.2759,-101330.2759,-101330.2759,-101330.2759,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 14
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2713.585861,2537.299799,5246.178182,27.538484,26.814506,0.007168,99.184545,96.259036,206.842723,...,90.328322,213.430354,-101312.9363,-101312.9363,-101312.9363,-101312.9363,-101312.9363,-101312.9363,-101312.9363,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 15
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2733.224968,2643.768436,5376.993404,27.806965,27.983868,0.007357,98.579123,94.795046,204.68211,...,88.702686,217.227408,-101306.0387,-101306.0387,-101306.0387,-101306.0387,-101306.0387,-101306.0387,-101306.0387,NaN

------------------------------------------------------------------------------------------------------------------------
Max Value of Cycle # 16
 ------------------------------------------------------------------------------------------------------------------------

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2661.639084,2554.987509,5216.626594,27.055048,27.038501,0.00684,98.574179,94.782516,204.818826,...,90.165443,215.887528,-101297.5545,-101297.5545,-101297.5545,-101297.5545,-101297.5545,-101297.5545,-101297.5545,NaN

In [8]:
# Merge all 'mean' dataframes into one
all_mean = df = pd.DataFrame()
for count in range(len(mean_dict)):
    name = "cycle_mean_"+str(count+1)
    #print(border,"\nAverages of Cycle #",count+1,"\n",border)
    all_mean = all_mean.append(mean_dict[name], ignore_index = True)

display(all_mean)

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2476.584985,2356.511293,4833.096278,25.130724,24.886874,0.000075,98.548518,94.689297,204.674305,...,76.722743,166.592071,-100958.284274,-100958.284274,-100958.284274,-100958.284274,-100958.284274,-100958.284274,-100958.284274,NaN
1,0.0,2390.896938,2275.647106,4666.544044,24.242708,24.007718,0.000338,98.632215,94.810467,204.764455,...,86.296175,190.397320,-101036.724869,-101036.724869,-101036.724869,-101036.724869,-101036.724869,-101036.724869,-101036.724869,NaN
2,0.0,2374.684052,2260.392621,4635.076673,24.076762,23.842928,0.001108,98.637933,94.820253,204.710209,...,86.937533,194.441646,-101135.720751,-101135.720751,-101135.720751,-101135.720751,-101135.720751,-101135.720751,-101135.720751,NaN
3,0.0,2399.689321,2285.851468,4685.540790,24.328648,24.123421,0.001901,98.637082,94.757541,204.684763,...,90.037899,199.707080,-101193.488672,-101193.488672,-101193.488672,-101193.488672,-101193.488672,-101193.488672,-101193.488672,NaN
4,0.0,2350.753246,2240.552637,4591.305882,23.842354,23.641437,0.002570,98.607468,94.797992,204.668944,...,88.806273,202.083101,-101257.020286,-101257.020286,-101257.020286,-101257.020286,-101257.020286,-101257.020286,-101257.020286,NaN
5,0.0,2360.140556,2245.057967,4605.198523,23.937685,23.698891,0.002733,98.600969,94.739993,204.633619,...,88.899716,204.078304,-101287.436015,-101287.436015,-101287.436015,-101287.436015,-101287.436015,-101287.436015,-101287.436015,NaN
6,0.0,2395.884068,2277.916034,4673.800102,24.308902,24.049916,0.003457,98.560694,94.717403,204.589979,...,88.472433,204.381899,-101326.257313,-101326.257313,-101326.257313,-101326.257313,-101326.257313,-101326.257313,-101326.257313,NaN
7,0.0,2386.098647,2269.304826,4655.403473,24.213599,23.960008,0.003361,98.545738,94.721413,204.593191,...,88.197832,199.009213,-101350.655443,-101350.655443,-101350.655443,-101350.655443,-101350.655443,-101350.655443,-101350.655443,NaN
8,0.0,2352.322432,2238.385086,4590.707518,23.872835,23.638566,0.003684,98.545299,94.723701,204.629237,...,87.506694,203.300315,-101372.044248,-101372.044248,-101372.044248,-101372.044248,-101372.044248,-101372.044248,-101372.044248,NaN
9,0.0,2380.241548,2265.731117,4645.972665,24.162219,23.924813,0.003866,98.511102,94.702670,204.575051,...,88.054219,204.306740,-101371.366260,-101371.366260,-101371.366260,-101371.366260,-101371.366260,-101371.366260,-101371.366260,NaN
10,0.0,2379.769860,2263.957728,4643.727587,24.157625,23.915831,0.003959,98.510405,94.664293,204.582284,...,88.104041,202.147162,-101385.861220,-101385.861220,-101385.861220,-101385.861220,-101385.861220,-101385.861220,-101385.861220,NaN
11,0.0,2381.001626,2269.423670,4650.425297,24.175244,23.971913,0.004155,98.489560,94.670960,204.550846,...,89.341508,200.151940,-101372.564212,-101372.564212,-101372.564212,-101372.564212,-101372.564212,-101372.564212,-101372.564212,NaN
12,0.0,2349.370727,2241.307716,4590.678443,23.852556,23.684671,0.004059,98.499724,94.643211,204.588592,...,88.131266,196.536854,-101380.598695,-101380.598695,-101380.598695,-101380.598695,-101380.598695,-101380.598695,-101380.598695,NaN
13,0.0,2372.535451,2256.235885,4628.771336,24.093006,23.839991,0.004040,98.478801,94.652794,204.558410,...,89.402510,201.152342,-101372.398977,-101372.398977,-101372.398977,-101372.398977,-101372.398977,-101372.398977,-101372.398977,NaN
14,0.0,2393.501205,2276.497832,4669.999037,24.314393,24.052369,0.004225,98.439750,94.648891,204.488251,...,87.453729,205.202507,-101368.540652,-101368.540652,-101368.540652,-101368.540652,-101368.540652,-101368.540652,-101368.540652,NaN
15,0.0,2380.925028,2266.449379,4647.374407,24.185305,23.946094,0.003907,98.445267,94.648876,204.519744,...,89.262474,201.230264,-101350.801193,-101350.801193,-101350.801193,-101350.801193,-101350.801193,-101350.801193,-101350.801193,NaN

In [9]:
# Merge all 'max' dataframes into one
all_max = df = pd.DataFrame()
for count in range(len(mean_dict)):
    name = "cycle_max_"+str(count+1)
    #print(border,"\nAverages of Cycle #",count+1,"\n",border)
    all_max = all_max.append(max_dict[name], ignore_index = True)

display(all_max)

,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,L1-L2 Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0.0,2664.509338,2544.180713,5208.690051,27.043688,26.972722,0.002710,98.685581,94.817633,204.993046,...,82.041996,181.908029,-100911.0041,-100911.0041,-100911.0041,-100911.0041,-100911.0041,-100911.0041,-100911.0041,NaN
1,0.0,2731.177484,2521.545347,5237.647928,27.730803,26.621752,0.002210,99.399677,96.693306,207.169001,...,88.583270,207.880285,-100962.5089,-100962.5089,-100962.5089,-100962.5089,-100962.5089,-100962.5089,-100962.5089,NaN
2,0.0,2653.237020,2521.892392,5146.663521,26.913796,26.640160,0.003693,99.439822,96.473145,207.208209,...,89.027641,207.378867,-101071.4402,-101071.4402,-101071.4402,-101071.4402,-101071.4402,-101071.4402,-101071.4402,NaN
3,0.0,2668.040095,2649.707721,5317.747816,27.108909,27.989236,0.005005,98.749592,95.341826,206.844768,...,90.961004,212.743320,-101114.9671,-101114.9671,-101114.9671,-101114.9671,-101114.9671,-101114.9671,-101114.9671,NaN
4,0.0,2538.492297,2445.234893,4936.820726,25.790682,25.833873,0.004849,99.412718,96.522155,207.154170,...,90.896927,215.137180,-101180.1447,-101180.1447,-101180.1447,-101180.1447,-101180.1447,-101180.1447,-101180.1447,NaN
5,0.0,2538.614997,2395.604670,4934.219667,25.767160,25.295977,0.004587,99.219065,95.494737,204.798199,...,89.648120,214.701528,-101237.1859,-101237.1859,-101237.1859,-101237.1859,-101237.1859,-101237.1859,-101237.1859,NaN
6,0.0,2787.746266,2625.757279,5303.923338,28.320733,27.759963,0.007185,98.713794,94.883178,204.789250,...,89.578044,215.851051,-101274.8263,-101274.8263,-101274.8263,-101274.8263,-101274.8263,-101274.8263,-101274.8263,NaN
7,0.0,2799.863431,2590.876013,5342.352624,28.407303,27.416738,0.006586,99.257676,96.548663,206.941936,...,89.157086,217.170037,-101292.6018,-101292.6018,-101292.6018,-101292.6018,-101292.6018,-101292.6018,-101292.6018,NaN
8,0.0,2679.665250,2516.598884,5196.264135,27.178916,26.621826,0.006709,99.355525,96.561363,207.005350,...,89.064638,217.648791,-101319.7451,-101319.7451,-101319.7451,-101319.7451,-101319.7451,-101319.7451,-101319.7451,NaN
9,0.0,2583.706162,2434.803443,4995.660461,26.209217,25.748614,0.006332,98.631287,94.833998,204.754474,...,89.549394,218.398915,-101322.9909,-101322.9909,-101322.9909,-101322.9909,-101322.9909,-101322.9909,-101322.9909,NaN
10,0.0,2542.501085,2415.260308,4924.166602,25.833111,25.518341,0.006422,98.623956,94.831782,204.734529,...,89.929534,214.311773,-101315.7902,-101315.7902,-101315.7902,-101315.7902,-101315.7902,-101315.7902,-101315.7902,NaN
11,0.0,2711.288122,2502.904768,5214.192891,27.556211,26.419435,0.006840,98.605972,94.831441,204.726602,...,90.737359,215.701412,-101309.0561,-101309.0561,-101309.0561,-101309.0561,-101309.0561,-101309.0561,-101309.0561,NaN
12,0.0,2598.693882,2468.150905,5005.492835,26.414444,26.143783,0.006857,99.201421,96.250512,206.611566,...,89.298691,208.853078,-101330.2759,-101330.2759,-101330.2759,-101330.2759,-101330.2759,-101330.2759,-101330.2759,NaN
13,0.0,2713.585861,2537.299799,5246.178182,27.538484,26.814506,0.007168,99.184545,96.259036,206.842723,...,90.328322,213.430354,-101312.9363,-101312.9363,-101312.9363,-101312.9363,-101312.9363,-101312.9363,-101312.9363,NaN
14,0.0,2733.224968,2643.768436,5376.993404,27.806965,27.983868,0.007357,98.579123,94.795046,204.682110,...,88.702686,217.227408,-101306.0387,-101306.0387,-101306.0387,-101306.0387,-101306.0387,-101306.0387,-101306.0387,NaN
15,0.0,2661.639084,2554.987509,5216.626594,27.055048,27.038501,0.006840,98.574179,94.782516,204.818826,...,90.165443,215.887528,-101297.5545,-101297.5545,-101297.5545,-101297.5545,-101297.5545,-101297.5545,-101297.5545,NaN

In [10]:
# highlight the maximum in a Series or DataFrame
def highlight_max(data, color='yellow'):
    attr = 'background-color: {}'.format(color)
    #remove % and cast to float
    data = data.replace('%','', regex=True).astype(float)
    if data.ndim == 1:  # Series from .apply(axis=0) or axis=1
        is_max = data == data.max()
        return [attr if v else '' for v in is_max]
    else:  # from .apply(axis=None)
        is_max = data == data.max().max()
        return pd.DataFrame(np.where(is_max, attr, ''),
                            index=data.index, columns=data.columns)

In [11]:
all_max.style.apply(highlight_max)

file:///mnt/c/Users/cprovost/Downloads/New folder/make2learn/python/clause 19_2 220V sides.csv.html

In [19]:
import webbrowser

### Display the peak cycles highlighted differently ###

results = all_max.style.apply(highlight_max)

#render dataframe as html
html = results.render()

#write html to file
html_file = file+".html"
text_file = open(html_file, "w")
text_file.write(html)
text_file.close()

## Open results in browser
url = 'file:/' + os.path.realpath(html_file)
webbrowser.open(url, new=2)  # open in new tab

False