In [3]:
import sqlite3
import pandas as pd
import numpy as np
import os

#s.getcwd()

file = 'clause 19_2 220V sides'
file = file+".csv"
dataframe1 = pd.read_csv(file)[23:] # ignores invalid rows

# reset the name of the columns
headers = dataframe1.iloc[0]
header = []
for index in range(len(headers)):
    header.append(headers[index])
dataframe1.columns = header

# remove row with column headers and reset index
dataframe1 = dataframe1[1:]
dataframe1 = dataframe1.reset_index(drop=True)

# initialize a sql database
sqldatabase = sqlite3.connect("sqldatabase.db")

# convert panda dataframe to sql database
dataframe1.to_sql("tabel1", sqldatabase, if_exists="replace")

# execute test query
query = '''SELECT * FROM tabel1 LIMIT 100;'''
pd.read_sql_query(query,sqldatabase)

,index,X_Value,L1 Power,L2 Power,L1+L2 Power,L1-N Amps,L2-N Amps,N Amps,L1-N Volts,L2-N Volts,...,brew basket handle metal,hot lead at heating element,1_12,1_13,1_14,1_15,1_16,1_17,Temperature,Comment
0,0,0,2352.387888,2237.494435,4589.882323,23.881794,23.64785,0,98.501304,94.617246,...,71.389015,137.279618,-100918.0534,-100918.0534,-100918.0534,-100918.0534,-100918.0534,-100918.0534,-100918.0534,None
1,1,0,2335.626995,2222.02914,4557.656135,23.684214,23.455515,0,98.615348,94.733762,...,72.432455,141.739857,-100924.2314,-100924.2314,-100924.2314,-100924.2314,-100924.2314,-100924.2314,-100924.2314,None
2,2,0,2336.353565,2220.07403,4556.427594,23.675395,23.445909,0,98.682768,94.689184,...,72.933801,148.115015,-100931.6142,-100931.6142,-100931.6142,-100931.6142,-100931.6142,-100931.6142,-100931.6142,None
3,3,0,2336.350642,2219.902458,4556.253101,23.674896,23.449016,0,98.684729,94.669324,...,72.89529,147.979406,-100926.1578,-100926.1578,-100926.1578,-100926.1578,-100926.1578,-100926.1578,-100926.1578,None
4,4,0,2336.480817,2220.115444,4556.596261,23.67601,23.448204,0,98.685581,94.681683,...,73.096314,148.446238,-100968.2458,-100968.2458,-100968.2458,-100968.2458,-100968.2458,-100968.2458,-100968.2458,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0,2454.425754,2330.32031,4784.746064,24.872565,24.632179,0,98.680041,94.604717,...,81.693346,170.837435,-100958.2901,-100958.2901,-100958.2901,-100958.2901,-100958.2901,-100958.2901,-100958.2901,None
96,96,0,2454.180435,2330.118215,4784.29865,24.874204,24.62931,0,98.663676,94.607529,...,81.714899,170.729707,-100995.6862,-100995.6862,-100995.6862,-100995.6862,-100995.6862,-100995.6862,-100995.6862,None
97,97,0,2447.07252,2325.391891,4772.464411,24.807156,24.566671,0,98.643816,94.656369,...,81.723566,170.518261,-100963.6342,-100963.6342,-100963.6342,-100963.6342,-100963.6342,-100963.6342,-100963.6342,None
98,98,0,2446.220903,2326.182767,4772.40367,24.807139,24.56536,0,98.609552,94.693616,...,82.041996,170.603977,-101000.1981,-101000.1981,-101000.1981,-101000.1981,-101000.1981,-101000.1981,-101000.1981,None
99,99,0,2444.997127,2326.987618,4771.984745,24.804935,24.565081,3.80E-05,98.56898,94.727454,...,81.93713,170.45639,-101015.0228,-101015.0228,-101015.0228,-101015.0228,-101015.0228,-101015.0228,-101015.0228,None